@model to.frontend.Models.Backlog.CreateBacklogViewModel
@{
    ViewBag.Title = "Create";
}

<form action="/Backlogs/Create" method="post">
    <fieldset class="fieldset">
        <legend>Create new voting</legend>
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.LabelFor(p => p.OneVotePerUser)
                    @Html.CheckBoxFor(p => p.OneVotePerUser)<br /><br />
                </div>
                @Html.LabelFor(p => p.Title)<br/>
                @Html.TextBoxFor(p => p.Title)<br/>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 userStories">
                @Html.LabelFor(p => p.UserStories)&nbsp;<button id="addUserStory">+</button><br/><br/>
                @Html.EditorFor(p => p.UserStories)<br/><br/>
            </div>
        </div><br/>
        <div class="row">
            <div class="col-md-6">
                <button type="submit">Create</button>
            </div>
        </div>
    </fieldset>
    
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#addUserStory").on("click", function(e) {
            e.preventDefault();
            e.stopImmediatePropagation();

            var numItems = $(".userStories input").length;
            var html = '<input class="text-box single-line" id="UserStories_'+ numItems +'_" name="UserStories['+ numItems +']" type="text"></input><br/><br/>';
            $(".userStories").append(html);
            $(".userStories input:last").focus();
        });
    });
</script>