@using to.contracts
@using to.contracts.data.domain
@using to.contracts.data.result
@using to.frontend.Controllers
@model to.frontend.Models.Backlog.BacklogShowViewModel

<h1>Votings</h1>
@if (User.HasPermission(Permission.CreateBacklog))
{
    <button id="createBacklog">Create Voting</button><br/><br/>
}

@if (Model.Result is Success)
{
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>User Stories</th>
            <th>Votes</th>
            <th>Authenticated</th>
        </thead>
    @foreach (var backlog in Model.Backlogs.Backlogs)
    {
         <tr>
             <td>@backlog.Id</td>
             <td>@backlog.Title</td>
             <td>@backlog.UserStoryCount</td>
             <td>@backlog.VoteCount</td>
             <td>@if (backlog.OneVotePerUser) {<p class="glyphicon-lock"></p>}</td>
             <td class="noButtonWrap">
                 @if(User.HasPermission(Permission.EvaluateBacklog))
                 {
                     <button class="evalBacklog" data-id="@backlog.Id">Eval</button>
                 }
                 @if(User.HasPermission(Permission.OrderBacklog))
                 {
                     <button class="orderBacklog" data-id="@backlog.Id">Order</button>
                 }
                 @if(User.HasPermission(Permission.CreateBacklog))
                 {
                     <button class="createOrderLink" data-id="@backlog.Id">Copy Link to Clipboard</button>
                     <button class="createOrderQr" data-path="@Url.Action(nameof(BacklogsController.GetOrder), new { backlog.Id })">QR</button>
                 }
                 @if(User.HasPermission(Permission.DeleteBacklog))
                 {
                     <button class="deleteBacklog" data-id="@backlog.Id">Delete</button>
                 }
             </td>
         </tr>
    }
    </table>
}
else
{
    <div class="alert alert-danger">An error occurred while fetching the backlogs!</div>
}

<div id="qrWrapper">
    <div id="qrCloser">X</div>
    <div id="qrCode"></div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".evalBacklog").on("click", function() {
            var id = $(this).data("id");
            window.location.href = "/Backlogs/Eval/"+ id;
        });

        $(".orderBacklog").on("click", function (e) {
            var id = $(this).data("id");
            window.location.href = "/Backlogs/Order/" + id;
        });

        $("#createBacklog").on("click", function() {
            window.location.href = "/Backlogs/Create";
        });

        $(".deleteBacklog").on("click", function () {
            var id = $(this).data("id");
            $.post("Backlogs/Delete", { id: id },
                function () {
                    window.location.reload();
                });
        });

        $(".createOrderLink").on("click", function() {
            var id = $(this).data("id");
            var el = document.createElement('textarea');
            el.value = window.location +"/Order/"+ id;
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        });

        $(".createOrderQr").on("click", function() {
            var path = window.location.origin + $(this).data("path");
            
            var maxDim = Math.min(window.innerHeight, window.innerWidth) * 0.8;

            new QRCode(document.getElementById("qrCode"), {
                text: path,
                width: maxDim,
                height: maxDim,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.H
            });
            $("#qrWrapper").show();
        });

        $("#qrCloser").on("click", function() {
            $("#qrWrapper").hide();
            $("#qrCode").empty();
        });
    });
</script>
<script type="text/javascript" src="~/js/qrcode.min.js"></script>

<style type="text/css">
    #qrWrapper {
        display: none;
        background-color: white;
        position: fixed;
        top: 50px;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 50;
        text-align: center;
    }

    #qrCloser {
        display: block;
        background-color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 3em;
        font-weight: bold;
        cursor: pointer;
        z-index: 51;
    }

    #qrCode {
        position: absolute;
        top: 5%;
        text-align: center;
        width: 100%;
    }

    #qrCode img {
        margin: 0 auto;
    }
</style>